<ul class="nav nav-tabs nav-justified mb-3">
  <li class="nav-item"><%= generate_user_tab_link([@user], 'Microposts', @count_microposts) %></li>
  <li class="nav-item"><%= generate_user_tab_link([:followings, @user], 'Followings', @count_followings) %></li>
  <li class="nav-item"><%= generate_user_tab_link([:followers, @user], 'Followers', @count_followers) %></li>
</ul>
