<div class="row">
  <aside class="col-sm-4">
    <%= render 'users/profile_card' %>
  </aside>
  <div class="col-sm-8">
    <%= render 'users/tabs' %>
    <%= render 'users/users', users: @followers %>
  </div>
</div>
